
.form-group{
    margin-top: 20px;
    font-weight: bold;
}
.custom-select{
    margin-top: 30px;

}
.custom-control{
    margin-top: 10px;
    font-weight: normal;
}
.form-check{
    font-weight: normal;
}

.header{
    background-color: #41ade7;
}

#footer{
    background-color: #323232;
    color: white;
    margin-top: 30px;
}

#footer li a{
  
    color: white;
}

#footer li a:hover{
  
    color: white;
}

.imagenFooter{
    text-align: center;
    
}
#imagenHeader{
    max-width: none;
}
#linkHeader{
    width: 650px;
    overflow: hidden;
    
}
body{
    background-color: #e6e6e6;
}

.avisoCopy{
    margin-top: 30px;
    justify-self: center;
}