.seccionBotones {
  display: flex;
  justify-content: center;
}
button {
  padding: 0;
}
.circularBtn {
  width: 40px;
  height: 40px;
  background: #009578;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
  font-size: 2rem;
}

.circularBtn:hover {
  background: #00866c;
}

.selectorWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.selectorWrapper > select {
  width: 30%;
}
.questionContent {
  width: 100%;
}

.tituloInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

.selectColWrapper {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
  width: 96%;
}

.newDeleteButtonsWrapper {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: flex-end;
  width: 4%;
}

.newDeleteButtonsWrapper > button{
  margin-left: 3px;
}
.buttonsWrapper {
  display: flex;

  justify-content: flex-end;
}

.buttonsWrapper > button {
  margin-left: 3px;
  margin-right: 3px;
}
.buttonsWrapper > label {
  margin-bottom: 0px;
}
.optionInputWrapper {
  display: flex;
  margin-bottom: 3px;
}
.simpleCheckBoxDeleteButtonWrapper{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;

}


.complexRadioInputDelButtonWrapper{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}


.complexRadioInputAddButtonWrapper{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 5px;
}

.simpleCheckBoxAddButtonWrapper{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 5px;
}



.elementsWrapper > .form-check{
  padding-left: 0px;
}
div >.elementsWrapper{
  margin-bottom: 5px;
  width: 100%;
  margin-left: 0px;
  padding-right: 0px;
}
div > .checkboxArea{
  margin-left: 0px;
}

div > .inputArea {
  width: 100%;
  margin-left: 0px;
  
}
